<%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>
<div class="container-fluid">
  <div class="row">
    <div class="col12">
      <h1>Bem-vindo ao Fluxo</h1>
    </div>
  </div>
  <div class="row">
    <%= pie_chart Medicine.group(:group).count %>
  </div>
</div>
