@import 'bootstrap/dist/css/bootstrap.min';
@import 'sb_admin';
@import 'datatables.bs';

.widget {
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.fs20 {
  font-size: 20px
}